.home{
    display: flex;
}
.content{
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    width: 80vw;
}
.content.closeSidebar{
  width: 100vw;
}
.content.openSidebar{
  width: 80vw;
}
.contentHidden{
	animation-name: close;
}
.charts{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}


@keyframes open {
    from {width: 100vw;}
    to {width: 80vw;}
  }
  @keyframes close {
    from {width: 80vw;}
    to {width: 100vw;}
  }
  
@media only screen and (min-width: 1600px) {
  .content.openSidebar{
	width: 100%;
  }
}
  @media only screen and (min-width: 1000px) {
  .home {
    display: flex;
    justify-content: space-between;
  }
  .content{
	width: 100%;
  }
}
  @media only screen and (max-width: 1000px) {
  .content.openSidebar {
    width: 100vw;
  }
}
