:root {
  --bgcolor: #191C24;
  --bgcolor2:#F3F6F9;
  --text: #6c7293;
  --darkText:#191c24;
  --red: #eb1616;
  --blue:#009CFF;
}

.App {
  text-align: center;
}
.app{
  background-color:white;
}
.app.dark{
  background-color:rgb(0, 0, 0);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.app.dark .MuiDataGrid-columnHeadersInner{
	color:white;
}


.app.dark .MuiDataGrid-root{
	border: 1px solid !important;
}
.app .MuiDataGrid-root{
	border: 1px solid #c2c7dd !important;
}

.app.dark .MuiDataGrid-columnHeaders{
	border-bottom: 1px solid rgb(0, 0, 0)!important ;
}
.app .MuiDataGrid-columnHeaders{
	border-bottom: 1px solid #c2c7dd!important ;
}

.app.dark .MuiDataGrid-cell {
  border-bottom: 1px solid rgb(32, 30, 30) !important;
}
.app .MuiDataGrid-cell {
  border-bottom: 0.7px solid #c2c7dd !important;
}

.MuiDataGrid-columnSeparator--sideRight{
	color: transparent !important;
}




.app .MuiTypography-root{
  color:black;
}
.app.dark .MuiTypography-root{
  color:white;
}
.MuiTypography-body2{
	color:var(--text)!important;
}
.MuiListItem-root{
  margin-bottom: -8%;
}
.MuiTypography-root{
  color: white;
  font-weight: 600 !important;
}

.MuiFormHelperText-root{
  color: rgb(211, 47, 47) !important;
}





.recharts-surface{
	   width: 95%;
}



