
.app .users{
    background-color: var(--bgcolor2);
}
.app.dark .users{
    background-color: var(--bgcolor);
}



.app .users .MuiPaper-root{
    background-color: var(--bgcolor2)!important;
	border:1px solid #c2c7dd !important;
    margin: 28px auto auto auto !important;
    width: 90% !important;
    border-radius: 6px;
}
.app.dark .users .MuiPaper-root{
    background-color: var(--bgcolor)!important;
	border:1px solid black !important;
    margin: 28px auto auto auto !important;
    width: 93% !important;
    border-radius: 6px;
}
.title{
    width: 90%;
    margin: auto;
    font-size: 2rem;
    margin-top: 3rem;
}
.app .title{
    color: black;
}
.app.dark .title{
    color: white;
}
.userList{
    margin: 5%;
    border: 1px solid;
}
.user{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.status{
    display: flex;
    align-items: center;
}
.statusColor{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    display: inline-table;
    margin-right: 8%
}

.imageProd{
    width: 5rem !important;
    height: 5rem !important;
}

.app .MuiTableHead-root .MuiTableCell-root,
.app .MuiTableHead-root .MuiTableCell-root{
  color:rgb(0, 0, 0) !important;
  border-bottom: 1px solid #ccc !important;
  font-size: 1rem !important;
}
.app.dark .MuiTableHead-root .MuiTableCell-root,
.app.dark .MuiTableHead-root .MuiTableCell-root{
  color:white !important;
  border-bottom: 1px solid rgb(0, 0, 0) !important;
  font-size: 1rem !important;
}

.app .MuiTableBody-root .MuiTableCell-root,
.app .MuiTableBody-root .MuiTableCell-root{
  color:var(--text) !important;
  border-bottom: 1px solid #ccc !important;
  font-size: 1rem !important;
}
.app.dark .MuiTableBody-root .MuiTableCell-root,
.app.dark .MuiTableBody-root .MuiTableCell-root{
  color:var(--text) !important;
  border-bottom: 1px solid rgb(0, 0, 0) !important;
  font-size: 1rem !important;
}
.MuiPaper-root tr {
	 color:rgb(0, 0, 0) !important;
}
