.users{
    background-color: var(--bgcolor2);
    margin: 28px auto auto auto;
    width: 95%;
    border-radius: 6px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.title{
    width: 90%;
    margin: auto;
    font-size: 2rem;
    color: white;
    margin-top: 3rem;
}
.userList{
    margin: 5%;
    border: 1px solid;
}
.user{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.status{
    display: flex;
    justify-content: right;
    align-items: center;
}
.statusColor{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    display: inline-table;
    margin-right: 8%
}